# Dependencies
**/node_modules

# Environment
.env
**/.env

# Build outputs
dist
**/dist
.next
**/.next
build
**/build

# Logs
*.log
**/logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
backend/generated/
**/prisma/migrations/**/migration_lock.toml

# Next.js
frontend/.next
frontend/out
frontend/next-env.d.ts

# NestJS
backend/dist

# Dev
DEV.md
